<section id="current-cart" class="col-lg-2 border border-danger">
  <section class="items">
    <ul>
      <li> cement </li>
      <li> rocks </li>
      <li> hollow blocks </li>
    </ul>
  </section>
</section>
