// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-add-to-cart {
  border: 2px solid black;
}

.btn-add-to-cart:hover {
  background: black;
  color: whitesmoke;
}

.added {
  animation: blackflash 1s;
}

.added-failed {
  animation: redflash 1s;
}

@keyframes blackflash {
  0% { background: #333; }
}

@keyframes redflash {
  0% { background: red; }
}

#scrollable {
  max-width: 100%;
  overflow-y: scroll;
}