<h1 class="text-center mt-4"> All your products </h1>
<%= turbo_frame_tag 'seller_products' do %>
  <%= render 'products/search', search_path: sellers_products_path %>
  <section id="products" class="row justify-content-center">
    <% products.each do |product| %>
      <%= render product, product: product %>
    <% end %>
    <% if products.empty? %>
      <h3 class="text-center"> You have none... </h3>
    <% end %>
  </section>
</div>
<% end %>
