<h1 class="text-center"> Your products that are currently on the market </h1>
<section class="row justify-content-center">
  <% products.each do |product| %>
    <%= render product, product: product %>
  <% end %>
</section>
