<%= content_for :title do %> | Categories <% end %>

<h1>Categories</h1>
<%= render 'form', category: category %>

<section id='categories' class='row'>
  <ul>
    <% categories.each do |category| %>
      <li>
        <%= link_to "#{category.name}", category %>
      </li>
    <% end %>
  </ul>
</section>
