<%= content_for :title do %> | Products <% end %>
<%= content_for :head do %>
  <meta name="turbo-cache-control" content='no-preview'>
<% end %>

<section id="products" class="row justify-content-center">
  <%= render products %>
</section>
