<turbo-frame id="products#index">
  <%= render 'products/search', search_path: products_path %>
  <section id="products" class="row justify-content-center">
    <% if products.present? %>
      <% cache products do %>
        <% products.each do |product| %>
          <% cache product do %>
            <%= render 'products/product', product: product %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <h5 class="mt-4 text-center">There are no products...</h5>
    <% end %>
  </section>
</turbo-frame>